*
{
	margin: 0;
	padding: 0;
}

html {
	width:100%; /* just to be sure these are full screen*/
	height:100%; /* just to be sure these are full screen*/
}	

body {
	width:100%; /* just to be sure these are full screen*/
	height:100%; /* just to be sure these are full screen*/
	background-color: #ccc;
	overflow: hidden;
} 

canvas { 
	display:block; /* To remove the scrollbars */
	position: absolute;

	margin:0;
	padding:0;
} 

button {
	width: 100%;
	margin-top: 10;
	padding: 5;
}

div
{
	/*border: 1px black solid; /**/
}

#toolarea {
	overflow: auto;
	position: absolute;
}

#notificationarea
{
	margin-top: 15;
	font-size: 22;
	padding: 15 40 15 40;
	border-radius: 15px;
	position: absolute;
	top: 0;
	text-align: center;

	z-index: 1;
}