*
{
	margin: 0;
	padding: 0;
}

html {
	width:100%; /* just to be sure these are full screen*/
	height:100%; /* just to be sure these are full screen*/
}	

body {
	width:100%; /* just to be sure these are full screen*/
	height:100%; /* just to be sure these are full screen*/
	background-color: #ccc;
	overflow: hidden;
} 

canvas { 
	display:block; /* To remove the scrollbars */
	position: absolute;

	margin:0;
	padding:0;
} 

p{
	font-size: 14pt;
	font-family: 'Oswald', sans-serif;
	text-align: center;
}
button, select {
	width: 80%;
	margin-top: 10;
	margin-left: 10%;
	margin-right: 10%;
	padding: 5;

	font-family: 'Roboto', sans-serif;
	font-size: 12pt;
}

div
{
	/*border: 1px black solid; /**/
}
.toolarea {
	overflow: auto;
	position: absolute;
}
#leftarea
{
	overflow: auto;
	position: absolute;
	left: 0;
	width: 200;
}
#rightarea
{
	overflow: auto;
	position: absolute;
	right: 0;
	width: 200;
}

#notificationarea
{
	position: absolute;
	top: 0;

	text-align: center;

	font-family: 'Oswald', sans-serif;
	font-size: 16pt;

	margin-top: 15;
	padding: 15 40 15 40;

	border-radius: 15px;

	z-index: 1;
    visibility: hidden;
}
.toolcategory
{
	margin-top: 25px;
	margin-bottom: 25px;
}
#menubar{
    width: 100%;
    height: 40px;
    background-color: azure;
}
.menuentry{
    width: 100px;
    float: left;
    text-align: center;
    padding: 10px;
	font-family: 'Roboto', sans-serif;
}
.menuentry:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

#statusbar {
    position: absolute;
    height: 40px;
    background-color: orange;
    width: 100%;
    bottom: 0px;
	font-family: 'Roboto', sans-serif;
}
#statusbarentry{
    text-align: right;
    padding-top: 10px;
    padding-right: 10px;
}