*
{
	margin: 0;
	padding: 0;
}

html {
	width:100%; /* just to be sure these are full screen*/
	height:100%; /* just to be sure these are full screen*/
}	

body {
	width:100%; /* just to be sure these are full screen*/
	height:100%; /* just to be sure these are full screen*/
	background-color: #ccc;
	overflow: hidden;
} 

canvas { 
	display:block; /* To remove the scrollbars */
	position: absolute;

	margin:0;
	padding:0;
} 

button, select {
	width: 80%;
	margin-top: 10;
	margin-left: 10%;
	margin-right: 10%;
	padding: 5;

	font-family: 'Roboto', sans-serif;
	font-size: 12pt;
}

div
{
	/*border: 1px black solid; /**/
}

#toolarea {
	overflow: auto;
	position: absolute;
	left: 0;
	width: 200;
}

#notificationarea
{
	position: absolute;
	top: 0;

	text-align: center;

	font-family: 'Oswald', sans-serif;
	font-size: 16pt;

	margin-top: 15;
	padding: 15 40 15 40;

	border-radius: 15px;

	z-index: 1;
}